
.move-up {
    position:relative;
    top: -10px;
    left:0px;
    color:#777;
    font-style:italic;
}

p.main-image img {
    width: 768px;
    height:480px;
}


.nav-list-link {
    color:#000
}

a {
    color: rgb(61, 118, 227)
}
